# See modules/.gitignore for explanation
!*

.cmaketest
build/

# Python: byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm project files
.idea

# Build/test artifacts
.pytest_cache
out
*.egg-info/
.eggs/

# Pipfile to be generated out of requirements.txt
/Pipfile

# bootstrap for spl builds
/bootstrap.ps1
