[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
conan = {version="==1.59.0"}
cookiecutter = {version="==2.1.1"}
gcovr = "*"
hammocking = "*"
kconfiglib = "*"
pytest = "*"
pytest-cov = "*"
pipenv = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"
sphinx-needs = "*"
sphinx-test-reports = "*"
m2r = "*"
sphinxcontrib-plantuml = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.11"
