[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = {version="==2.1.1"}
gcovr = "*"
hammocking = "*"
kconfiglib = "*"

[dev-packages]
jinja2 = "*"
pytest = "*"
pytest-env = "*"
pytest-cov = "*"
testfixtures = "*"
junitparser = "*"
mashumaro = "*"
loguru = "*"
black = "*"
m2r = "*"
flake8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"
sphinx-needs = "*"
sphinx-test-reports = "*"
doxysphinx = "*"
sphinx-rtd-size = "*"
sphinxcontrib-datatemplates = "*"
sphinxcontrib-plantuml = "*"
sphinx-copybutton = "*"
sphinx-new-tab-link = "*"
pipenv = "*"

[requires]
python_version = "3.11"
